In [4]:
print("""my
name is muneeb
ahmed""")

my
name is muneeb
ahmed

### Variable for string

In [10]:
first_name="Shano"
last_name="ahmed"
print(first_name+" "+last_name)

Shano ahmed

### Variable for numbers

In [23]:
x=5
x+=3
x-=3
x*=3
x/=3
x%=3
print(x)

2.0

In [24]:
name=input("what is your first name: ")
name_second = input("what is your second name: ")
print(name,name_second)

what is your first name:  muneeb
what is your second name:  ahmed

muneeb ahmed

In [1]:
num1=input("Enter First Number: ")
num2=input("Enter Second Number: ")
print(int(num1)*int(num2))

Enter First Number:  3
Enter Second Number:  5

15

In [6]:
2**3

8

In [7]:
15/5
15//5

3